name: Run lighthouse CI
on:
  - push
  - pull_request
jobs:
  lhci:
    name: Lighthouse CI
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 8
          run_install: false

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV
      - name: Setup pnpm cache
        uses: actions/cache@v4
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-
      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: |
          pnpm run build
      - name: Run Lighthouse CI
        env:
          LHCI_GITHUB_APP_TOKEN: ${{ secrets.LHCI_GITHUB_APP_TOKEN }}
        run: |
          pnpm i -g @lhci/cli
          lhci autorun || echo "Fail to Run Lighthouse CI!"
      - name: Generate and Upload Lighthouse Report
        env:
          LHCI_GITHUB_APP_TOKEN: ${{ secrets.LHCI_GITHUB_APP_TOKEN }}
        run: |
          lhci collect --additive
          lhci upload --target=filesystem --outputDir=./lighthouse-reports
          lhci upload --target=temporary-public-storage
      - name: Format lighthouse score and comment
        id: format_lighthouse_score
        uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const fs = require('fs');
            const path = require('path');
            const resultsPath = path.join(process.env.GITHUB_WORKSPACE, 'lighthouse-reports', 'manifest.json');
            const results = JSON.parse(fs.readFileSync(resultsPath));
            const totalReports = results.length;
            const averageScores = {
              performance: 0,
              accessibility: 0,
              'best-practices': 0,
              seo: 0,
              pwa: 0
            };
            const auditSummaries = {
              'first-contentful-paint': 0,
              'largest-contentful-paint': 0,
              'interactive': 0,
              'total-blocking-time': 0,
              'cumulative-layout-shift': 0
            };
            results.forEach(result => {
              const { summary } = result;
              for (const key in averageScores) {
                averageScores[key] += summary[key];
              }
              const details = JSON.parse(fs.readFileSync(result.jsonPath));
              ['first-contentful-paint', 'largest-contentful-paint', 'interactive', 'total-blocking-time', 'cumulative-layout-shift']
                .forEach(auditName => {
                  if (details.audits[auditName]) {
                    const auditDetails = details.audits[auditName];
                    auditSummaries[auditName] += parseFloat(auditDetails.displayValue) || 0;
                  }
                });
            });
            const formatScore = res => (res >= 90 ? "游릭" : res >= 70 ? "游" : "游댮");
            const detailscore = (value, metric) => {
              switch (metric) {
                case 'first-contentful-paint':
                  return value <= 1.8 ? "游릭" : value <= 3 ? "游" : "游댮";
                case 'largest-contentful-paint':
                  return value <= 2.5 ? "游릭" : value <= 4 ? "游" : "游댮";
                case 'interactive':
                  return value <= 3.8 ? "游릭" : value <= 7.3 ? "游" : "游댮";
                case 'total-blocking-time':
                  return value <= 300 ? "游릭" : value <= 600 ? "游" : "游댮";
                case 'cumulative-layout-shift':
                  return value <= 0.1 ? "游릭" : value <= 0.25 ? "游" : "游댮";
                default:
                  return "游댮"; // Default to red if metric is unknown
              }
            };
            let comments = "丘뫮잺 Lighthouse Average Scores Across Reports:\n| Category | Score |\n| --- | --- |\n";
            Object.keys(averageScores).forEach(key => {
              const avgScore = Math.round((averageScores[key] / totalReports) * 100);
              comments += `| ${formatScore(avgScore)}  ${key.replace(/-/g, ' ')} | ${avgScore} |\n`;
            });
            comments += "\n丘뫮잺 Average Details Across All Reports:\n| Category | Score |\n| --- | --- |\n";
            Object.keys(auditSummaries).forEach(auditName => {
              const average = auditSummaries[auditName] / totalReports;
              const formattedName = auditName.replace(/-/g, ' ');
              const colorCode = detailscore(average, auditName);
              const unit = (auditName === 'total-blocking-time' ? 'ms' : auditName === 'cumulative-layout-shift' ? '' : 's')
              comments += `| ${colorCode}  ${formattedName} | ${average.toFixed(1)}${unit} |\n`;
            });
            if (comments && context.issue.number) {
              const issue_number = context.issue.number;
              const repo = context.repo.repo;
              const owner = context.repo.owner;
              await github.rest.issues.createComment({
                owner,
                repo,
                issue_number,
                body: comments
              });
            } else {
              console.log("No PR COMMENT!");
            }
